@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
  }


  .pdf-preview {
    width: 100% !important;
    max-width: 800px !important; /* Adjust width */
    min-height: auto !important; /* Flexible height */
    border: none !important; /* Remove border */
    transform: scale(1); /* Prevent any scaling issues */
    image-rendering: crisp-edges; /* Sharper image */
    font-smooth: always;
    /* overflow: hidden; Hide any extra overflow */
}

#reviewResumeComponent {
    width: 100%;
    max-width: 800px !important; /* A4 width but flexible */
    margin: auto;
    border: none !important; /* Remove border */
    padding: 0px; /* Add padding to prevent cut-off */
    /* overflow: hidden; */
}

  

 
 
  